{
  "semi": true,
  "singleQuote": true,
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 150,
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": ["clsx", "cn"],
  "tabWidth": 4,
  "importOrder": [
    "<BUILTIN_MODULES>",
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/lib",
    "",
    "^@/components",
    "",
    "^@wayfinder"
  ]
}
